article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  time {
    font-size: 1.5rem;
    color: var(--paragraph-color-secondary);
  }

  figure {
    margin: 2rem auto;

    img {
      max-width: 50%;
      height: auto;
      justify-self: center;
      border-radius: 5%;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }
    
    figcaption {
      text-align: center;
      font-size: 1rem;
      color: var(--paragraph-color-secondary);
      margin-top: 0.5rem;
  }
}