article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  time {
    font-size: 1.5rem;
    color: var(--paragraph-color-secondary);
  }
  
  p {
    padding: 0 0.5rem;
  }
  

  figure {
    margin: 2rem auto;

    img {
      height: auto;
      max-width: 90%;
      margin: auto;
      border-radius: 5%;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }
    
    figcaption {
      text-align: center;
      font-size: 1rem;
      color: var(--paragraph-color-secondary);
      margin-top: 0.5rem;
    }
  }

  iframe {
    display: block;
    margin: 4rem auto;
    max-width: 99%;
  }
}

/* Tablets and up*/
@media (min-width: 768px) {
  article {
    figure {
      img {
        max-width: 50%;
        margin: auto;
      }
    }

    iframe {
      max-width: 100%;
    }
  }
}