.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 2rem;

  .blog-preview {
    text-align: left;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 0.5rem;

    position: relative;
    padding: 1rem;
    /* background-color: var(--background-color-secondary); */
    border-radius: 5%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

    &:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease;
      cursor: pointer;      
    }

    .blog-preview-image {
      object-fit: cover;
      aspect-ratio: 3/2;
      border-radius: 5%;
    }

    .blog-post-title {
      font-size: 2rem;
    }

    .link-to-article {
      position: absolute;
      inset: 0;
    }

    .blog-post-excerpt {
      font-size: 1.2rem;
    }
  }
}

/* Small tablets/large phones in landscape */
@media (min-width: 576px) {
}

