.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 4rem 2rem;
  padding: 2rem 1rem;
  border-bottom: solid 1px #F2F2F2;

  .blog-preview {
    position: relative;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    .blog-post-title {
      grid-row: 1;
      grid-column: 1 / span 3;
      text-align: left;
      font-size: 1.5rem;
    }

    .blog-preview-image {
      grid-row: 1;
      grid-column: 4;
      max-width: 100px;
      object-fit: cover;
      aspect-ratio: 3/2;
      border-radius: 5%;
    }

    .blog-post-excerpt {
      grid-row: 2; 
      grid-column: 1 / span 4;
      font-size: 1.2rem;
      align-self: start;
    }

    .blog-post-date {
      grid-row: 3;
      grid-column: 1 / span 4;
      color: var(--paragraph-color-secondary);
    }

    .link-to-article {
      position: absolute;
      inset: 0;
    }

    &:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease;
      cursor: pointer;      
    }

    &:not(:last-child) {
      border-bottom: solid 1px #F2F2F2;
      padding-bottom: 2rem;
    }
  }
}

/* Small tablets/large phones in landscape */
@media (min-width: 576px) {

  .blog-header {
    padding-top: 5rem;
    font-size: var(--font-size-md);
  }

  .blog-list {
    padding: 5rem 0;

    .blog-preview {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr auto;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5%;

      .blog-preview-image {
        max-width: 100%;
        grid-row: 1;
        grid-column: 1 / -1;
      }

      .blog-post-title {
        grid-row: 2;
        grid-column: 1 / -1;
        font-size: 2rem;
        text-align: center;
      }

      .blog-post-excerpt {
        grid-row: 3; 
        grid-column: 1 / -1;
      }

      .blog-post-date {
        grid-row: 4;
        grid-column: 1 / -1;
      }

      &:not(:last-child) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .blog-preview:first-of-type {
      grid-column: 1 / -1;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 2rem;
      border-bottom: solid 1px #F2F2F2;
      padding-bottom: 2rem;

      .blog-preview-image {
        grid-row: 1 / -1;
        grid-column: 1;
      }

      .blog-post-title {
        grid-row: 1;
        grid-column: 2;
        text-align: left;
      }

      .blog-post-excerpt {
        grid-row: 2;
        grid-column: 2;
      }

      .blog-post-date {
        grid-row: 3;
        grid-column: 2;
      }
    }
  }
}

