.cta-menu {
  background-color: var(--background-color-secondary);
  display: grid;
  gap: 1rem;
  justify-items: center;
  padding: 2rem .5rem;

  .business-location {
    font-family: var(--font-family-railway);
    font-weight: var(--font-weight-light);
    font-size: 1.2rem;
    color: black;
  }

  .business-name {
    font-family: var(--font-family-merriweather);
    font-weight: var(--font-weight-light);
    font-size: 1.5rem;
    color: var(--color-primary);
  }

  .business-services {
    text-align: center;
  }

  .btn {
    width: 90%;
    padding: 0.5rem .75rem;
    margin-top: 1.5rem;
  }
}

/* Small tablets/large phones */
@media (min-width: 576px) {
  .cta-menu {
    padding: 2.5rem 5rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .cta-menu {
    padding: 2.5rem 10rem;
  }
}