.success-alert {
  background-color: rgba(35, 78, 82, var(--text-opacity));
  color: #757a79;
  text-align: center;
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;
  border-top: .3rem solid #2a9d8f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .bold {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.error-alert {
  background-color: rgba(35, 78, 82, var(--text-opacity));
  color: #757a79;
  text-align: center;
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;
  border-top: .3rem solid #eb2632;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .bold {
    font-weight: 600;
    font-size: 1.2rem;
  }
}