---
permalink: about.html
---

{% extends "src/_includes/layouts/base.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <h1>About page</h1>
    </div>
  </div>
{% endblock %}
