<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('#current-year').textContent = new Date().getFullYear();
  });
</script>

<footer>
  <p>
    © <span id="current-year"></span> Sunny Mixers Mobile Bar. All Rights Reserved.
  </p>
  <p>
    Photos by <a href="https://angelaluchtphoto.com">Angela Lucht Photography.</a> 
  </p>
</footer>
