<section class="socials-section">
  <h2>Follow us on social media!</h2>
  <p>
    For recipes, tips, cocktail inspo, and more, follow us on Instagram and TikTok!
  </p>

  <div class="socials-links">
    <a href="https://www.instagram.com/sunnymixers/" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </a>

    <a href="https://www.tiktok.com/@sunnymixersmobilebar" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-tiktok fa-2xl"></i>
    </a>
  </div>
</section>